@page "/admin"
@using OnBoardingProject.Common.Models;
@inject NavigationManager NavManager

<h3>Toys</h3>
<TelerikButton Icon="FontIcon.Plus" ButtonType="ButtonType.Button" OnClick="@(_=> NavManager.NavigateTo("/add"))">Add Toy</TelerikButton>
<TelerikGrid Data="@Products" Size="@ThemeConstants.Grid.Size.Medium" FilterMode="Telerik.Blazor.GridFilterMode.FilterRow">
    <GridColumns>
        <GridColumn Field="@nameof(ProductModel.Id)"></GridColumn>
        <GridColumn Field="@nameof(ProductModel.Title)" Title="Header"></GridColumn>
        <GridColumn Field="@nameof(ProductModel.Description)" Title="Summary"></GridColumn>
        
        <GridColumn Context="context">
            <Template >
                <NavLink class="nav-link"
                         href="@((context as ProductModel).ImageSource)"
                         target="_blank">
                         <TelerikButton 
                             ButtonType="ButtonType.Button" 
                             ThemeColor="info">Show More
                         </TelerikButton>                        
                </NavLink>
                <TelerikButton Icon="FontIcon.Pencil" ButtonType="ButtonType.Button" OnClick="@(_=> NavManager.NavigateTo($"/edit/{(context as ProductModel).Id}"))">Edit</TelerikButton>
                <TelerikButton ButtonType="ButtonType.Button" ThemeColor="error" OnClick="_=>OnDelete((context as ProductModel))">Delete</TelerikButton>
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

<TelerikDialog Title="Confirm Deletion" CloseOnOverlayClick="true" Visible="showConfirmDialog">
    <DialogContent>
        @($"Are you sure you want to delete {product.Title}?")
    </DialogContent>
    <DialogButtons>
        <TelerikButton OnClick="_=>showConfirmDialog=false" ThemeColor="basic">Cancel</TelerikButton>
        <TelerikButton OnClick="Delete" ThemeColor="error">Yes, Delete!</TelerikButton>
    </DialogButtons>
    
</TelerikDialog>
