@page "/admin"
@using OnBoardingProject.Common.Models;
@inject NavigationManager NavManager

<h3>Toys</h3>
<TelerikButton Icon="FontIcon.Plus" ButtonType="ButtonType.Button" OnClick="@(_=> NavManager.NavigateTo("/add"))">Add Toy</TelerikButton>
<TelerikGrid Data="@Products" Size="@ThemeConstants.Grid.Size.Medium">
    <GridColumns>
        <GridColumn Field="@nameof(ProductModel.Id)"></GridColumn>
        <GridColumn Field="@nameof(ProductModel.Title)" Title="Header"></GridColumn>
        <GridColumn Field="@nameof(ProductModel.Description)" Title="Summary"></GridColumn>
        
        <GridColumn Context="context">
            <Template >
                <NavLink class="nav-link"
                         href="@((context as ProductModel).ImageSource)"
                         target="_blank">
                         <TelerikButton 
                             ButtonType="ButtonType.Button" 
                             ThemeColor="info">Show More
                         </TelerikButton>                        
                </NavLink>
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>
