@page "/edit/{id:guid}"
@using OnBoardingProject.Common.Enums;

<h3>Edit Toy</h3>


<TelerikForm OnSubmit="OnSubmit" Model="@Product">
    <FormItems>
        <FormItem Field="@nameof(Product.Title)"></FormItem>
        <FormItem Field="@nameof(Product.Description)"></FormItem>
        <FormItem Field="@nameof(Product.ImageSource)"></FormItem>
        <FormItem Field="@nameof(Product.Category)"></FormItem>
    </FormItems>
</TelerikForm>
